

  .header--top {
    padding: 5px 0;
    background-color: rgb(223 92 17 / 90%);
  }

  .box--CoAu {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .box--CoAu ul li {
    display: inline-block;
  }

  .box--CoAu ul li+li {
    margin-left: 15px;
  }